<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><!--TITLE-APP--></title>
  <link rel="preconnect" href="https://apiv4.ordering.co">
  <link rel="preconnect" href="https://maps.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
  <style>
    .pac-container {
      z-index: 10000 !important;
    }
  </style>
  <!--HEAD-THIRD-PARTY-->
</head>
<body>
  <div id="app"></div>
  <!--BODY-THIRD-PARTY-->
</body>
</html>
